/* Styles for the gallery */
.gallery-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery-item {
    margin-bottom: 30px;
}

.card img {
    width: 100%;
    border-radius: 0; 
}
#demo-img{
    height: 150px;
    width: 150px;
}
.section{
    display: flex;
}

/* before chatGPT */
/* Style the tab buttons */
.tablinks {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

/* Style the tab content */
.tabcontent {
    display: none;
}

/* Style the currently active tab */
.tabcontent.active {
    display: block;
}
